.header-container {
    background-color: black;
    padding: 10px;
    
}

header{

}

.or{
    text-decoration: none;
    color: white;
    
}

h1{

    font-style: italic;
    color:white;
    text-align: center;
    
}

body{

    background-image: url(/images/download.png) ;
}

nav{
    background-color: black;
    position: sticky;
    top: 150px;
    letter-spacing: 1px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    padding: 0.01%;
    
}

.navwords{
    text-align: center;
    
}
nav a {
    margin-right: 15px;
    
}

.vitrine{
    margin-left: 10%;
    margin-right: 10%;
    width: 20%;
    display: flex;
    flex-direction:row;
    align-items: center;
    

}

.guitarinfo{
    background-color: rgb(255, 255, 255);
    width: auto;
    height: auto;
    
    
}

.nominstrument{

    font-style: italic;
    word-wrap: break-word;
    text-align: center;

}

.prix{
     text-align: center;
     font-size: larger;

}
.guitar{
     padding: 0 55px 0 55px;s
}